<MudDialog Style="background-color: #ffffff; border-radius: 24px; min-width: 50%; max-width: 85%; padding: 3.5rem; z-index: 9999;">
    <DialogContent>
        <MudBreakpointProvider OnBreakpointChanged="OnBreakpointChanged">
            @if(IsMobile)
            {
                <MudGrid Spacing="2">
                    <MudItem xs="12" sm="8" md="6">
                        <div class="dialog-image-wrapper-mobile">
                            <MudImage Src="@Member.ImageUrl" Alt="@Member.Name" Elevation="0" Class="rounded" Style="width: 100%; object-fit: cover; max-height: 25vh;" />
                        </div>
                    </MudItem>
                    <MudItem xs="12" sm="8" md="6">
                        <MudText Typo="Typo.h4" Style="font-weight: 600; color: #333333;">@Member.Name</MudText>
                        <MudText Typo="Typo.h6" Style="color: #ad9587; margin-top: 0.5rem;">@Member.Position</MudText>
                        
                        <MudDivider Class="mt-4"></MudDivider>
                        
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600; color: #333333; margin-top: 1rem;">Qualificações</MudText>
                        <MudText Typo="Typo.body2" Style="color: #666666; margin-top: 0.5rem;">@Member.Qualifications</MudText>
                        
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600; color: #333333; margin-top: 1.5rem;">Especializações</MudText>
                        
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600; color: #333333; margin-top: 1.5rem;">Sobre</MudText>
                        <MudText Typo="Typo.body2" Style="color: #666666; margin-top: 0.5rem;">@Member.FullBio</MudText>
                    </MudItem>
                </MudGrid>
            }
            else 
            {
                <MudGrid Spacing="4">
                    <MudItem xs="12" sm="5" md="4">
                        <div class="dialog-image-wrapper">
                            <MudImage Src="@Member.ImageUrl" Alt="@Member.Name" Elevation="0" Class="rounded" Style="width: 100%; object-fit: cover; height: 300px;" />
                        </div>
                    </MudItem>
                    <MudItem xs="12" sm="7" md="8">
                        <MudText Typo="Typo.h4" Style="font-weight: 600; color: #333333;">@Member.Name</MudText>
                        <MudText Typo="Typo.h6" Style="color: #ad9587; margin-top: 0.5rem;">@Member.Position</MudText>
                        
                        <MudDivider Class="my-4"></MudDivider>
                        
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600; color: #333333; margin-top: 1rem;">Qualificações</MudText>
                        <MudText Typo="Typo.body2" Style="color: #666666; margin-top: 0.5rem;">@Member.Qualifications</MudText>
                        
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600; color: #333333; margin-top: 1.5rem;">Especializações</MudText>
                        
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600; color: #333333; margin-top: 1.5rem;">Sobre</MudText>
                        <MudText Typo="Typo.body2" Style="color: #666666; margin-top: 0.5rem;">@Member.FullBio</MudText>
                    </MudItem>
                </MudGrid>
            }
        </MudBreakpointProvider>
    </DialogContent>
    @* <DialogActions>
        <MudButton OnClick="Close" >Fechar</MudButton>
    </DialogActions> *@
</MudDialog>

@code 
{
    private MudBlazor.Breakpoint _currentBreakpoint;
    private bool IsMobile => _currentBreakpoint < MudBlazor.Breakpoint.Sm;

    [CascadingParameter]
    [Required(ErrorMessage = "MudDialog is required.")]
    private IMudDialogInstance MudDialog { get; set; } = default!;

    [Parameter]
    [Required(ErrorMessage = "TeamMember is required.")]
    public TeamMember Member { get; set; } = default!;

    private void OnBreakpointChanged(MudBlazor.Breakpoint breakpoint)
    {
        _currentBreakpoint = breakpoint;
        StateHasChanged();
    }

    private void Close() => MudDialog?.Close(DialogResult.Ok(true));
}
